.vs
bin
obj
Auctions.db
/Auctions.db-shm
/Auctions.db-wal
/wwwroot/Images/1707587102991_apple_watch_se.jpg
/wwwroot/Images/1707587819288_apple_watch_se.jpg
/wwwroot/Images/1707588005527_apple_watch_se.jpg
/wwwroot/Images/apple_watch_se.jpg1707586929837
