@using AuctionsApp.Data.Entity
@model List<Listing>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-primary my-5">Active Listings</h2>

@foreach(var listing in Model)
{
    <div class="container bg-light shadow-lg" style="margin-top: 50px; margin-bottom: 50px; padding: 20px; border-radius: 15px;">
        <div class="row">
            <div class="col col-xs-6 col-lg-5">
                <img src="~/Images/@listing.ImagePath" style="max-width: 300px; max-height: 300px;"/>
            </div>

            <div class="col col-xs-6 col-lg-7">
                <h5>
                    <a asp-action="Details" asp-route-id="@listing.Id" style="color: black;">@listing.Title</a>
                </h5>
                <div>
                    @listing.Description
                </div>
                <div>
                    Bid: $@listing.Price.ToString("N2")
                </div>
                <div>
                    Listed By: @listing.User?.UserName
                </div>
            </div>
        </div>
    </div>
}

@if (!Model.Any())
{
    <p>No Active Listings</p>
}